*{
    box-sizing: border-box;
}
body
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 3px;
    padding: 10px;
    font-size: 15px;
}

.container{
    background-color: wheat;
    padding: 5px 20px 15px 20px;
    border: 2px solid black;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 2px;
}
    